@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


pre {
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}

